# 삼성SDS AX 교육 패키지 리스트

# 공통
boto3
python-dotenv

# LangChain (1일차~)
langchain
langchain-aws
langchain-community
langchain-classic
langchain-text-splitters
langchain-openai

# RAG (2일차~)
langchain-chroma
rank-bm25
kiwipiepy

# LangGraph (3일차~)
langgraph
langgraph-checkpoint-sqlite
langgraph-supervisor

# MCP (4일차~)
mcp
fastmcp
langchain-mcp-adapters